<div class="database-view-container">
  <div class="no-categories" *ngIf="this.noCategoriesVisible">
    <p>(Nobody here but us chickens.)</p>
  </div>
  <ng-container *ngFor="let category of categories; let i = index">
    <div
      *ngIf="!category.hidden"
      class="database-view-category-container"
      [ngStyle]="{
        'background-color':
          'rgb(' +
          (240 - i * 10) +
          ', ' +
          (240 - i * 10) +
          ', ' +
          (240 - i * 10) +
          ')'
      }"
    >
      <div class="database-view-title-container">
        <mat-icon>{{ category.icon }}</mat-icon>
        <p>{{ category.display_name_plural }}</p>
      </div>
      <ng-container *ngIf="category.items.length === 0">
        <p class="no-items-message">No items in this category.</p>
      </ng-container>
      <ng-container *ngFor="let item of category.items">
        <app-database-view-card
          class="database-view-card"
          *ngIf="item.hidden === false"
          [item]="item"
        >
        </app-database-view-card>
      </ng-container>
    </div>
  </ng-container>
</div>
