<mat-toolbar>
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="menu-icon"
    (click)="emitToggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img
    (click)="navigateTo('dashboard')"
    src="assets/svg/stims-large-light.svg"
    class="site-logo"
    alt="Site Logo"
  />
  <span class="header-spacer"></span>

  <div class="account-info">
    <span id="username" class="username"></span>
    <button
      mat-icon-button
      class="account-icon"
      aria-label="account-icon"
      (click)="navigateTo('profile')"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
