<div class="item-detail-dialog-container">
  <div class="inner-container-left">
    <img
      class="item-detail-image"
      src="{{ this.item.image || 'assets/png/no_img_available.png' }}"
    />
    <p class="display-name">{{ orderedItemArgs[0][1] }}</p>
    <p class="display-desc">{{ orderedItemArgs[1][1] }}</p>
  </div>
  <div class="inner-container-right">
    <div class="arg-table-container">
      <table class="arg-table">
        <tr *ngFor="let arg of orderedItemArgs">
          <td class="arg-table-key">{{ titlefy(arg[0]) }}</td>
          <td class="arg-table-value">{{ arg[1] }}</td>
        </tr>
      </table>
    </div>
    <div class="checkout-container">
      <button
        [disabled]="this.checkoutDisabled"
        (click)="this.checkout()"
        mat-raised-button
        color="primary"
        class="checkout-button"
        id="checkout-button"
      >
        Check Out
      </button>
    </div>
  </div>
</div>
