@import '../app.component.variables.scss';

* {
    margin: 0; padding: 0;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    border-radius: 0;
    width: 15%;

    @media (max-width: $medium-viewport) {
        width: 35%
    }
}

.admin-container {
    width: 100%;
    height: 100%;
    background-color: $background-color-light;
}

.section-header {
    margin-top: 20px;
    margin-left: 20px;
}

.return-all-button {
    width: 20%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: $logout-color;
    color: $text-color;
    font-size: 16px;
    cursor: pointer;
}

.return-all-button:hover {
    background-color: $logout-color-hover;
}
