<div class="app-container">
  <div>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      class="sidenav"
      #sidenav
      mode="side"
      (opened)="(null)"
      (closed)="(null)"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <div class="admin-container">
      <h3 class="section-header">Debug commands</h3>
      <button class="return-all-button" mat-button (click)="returnAllItems()">
        Return All Items
      </button>
    </div>
  </mat-sidenav-container>
</div>
