<div class="database-view-container">
  <div
    class="database-view-category-container"
    *ngFor="let category of categories; let i = index"
    [ngStyle]="{
      'background-color':
        'rgb(' +
        (240 - i * 10) +
        ', ' +
        (240 - i * 10) +
        ', ' +
        (240 - i * 10) +
        ')'
    }"
  >
    <div class="database-view-title-container">
      <mat-icon>{{ category.icon }}</mat-icon>
      <p>{{ category.display_name_plural }}</p>
    </div>
  </div>
</div>
