@import '../app.component.variables.scss';

.header-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: $background-color;
  color: $text-color;
}

.site-logo {
  height: 100%;
  padding-top: 6px;
  padding-left: 10px;
  cursor: pointer;
}

.account-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.username {
  color: $text-color;
  font-size: 14px;
  padding-bottom: 1px;
}