@import '../app.component.variables.scss';

* {
    margin: 0; padding: 0;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    border-radius: 0;
    width: 15%;

    @media (max-width: $medium-viewport) {
        width: 35%
    }
}

.profile-container {
    width: 100%;
    height: 100%;
    background-color: $background-color-light;
}

.logout-button {
    width: 20%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: $logout-color;
    color: $text-color;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: $logout-color-hover;
}


.return-button {
    width: 90%;
    height: 90%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: $logout-color;
    color: $text-color;
    font-size: 16px;
    cursor: pointer;
}

.return-button:hover {
    background-color: $logout-color-hover;
}


.profile-header {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid $border-color;
}

.name-tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.name { 
    margin-bottom: 5px;
}

.table-container {
    padding-left: 20px;
    width: 60%;
}

table {
    padding: 0 10px;
    background-color: $background-color !important;
}
