@import '../app.component.variables.scss';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.database-view {
    height: calc(100% - $toolbar-height);
    color: #000;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    border-radius: 0;
    width: 15%;
}