<div class="app-container">
  <div>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      class="sidenav"
      #sidenav
      mode="side"
      (opened)="(null)"
      (closed)="(null)"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <div class="database-view">
      <app-database-view
        [searchTerm]="this.searchTerm"
        [filters]="this.filters"
      ></app-database-view>
    </div>
    <div class="toolbar">
      <app-toolbar
        (searchTermChange)="onSearchTermChange($event)"
        (filtersChange)="onFiltersChange($event)"
      ></app-toolbar>
    </div>
  </mat-sidenav-container>
</div>
